<h3><a class="btn btn-secondary" href="/contracts"><i class="fa fa-plus"></i> Novo Contrato</a> Lista de Contratos</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Ano</th>
            <th>Inicio</th>
            <th>Fim</th>
            <th>Convenente</th>
            <th>Processo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <th>{{this.tipo}}</th>
            <th>{{this.ano}}</th>
            <th>{{this.inicio}}</th>
            <th>{{this.fim}}</th>
            <th>{{this.convenente}}</th>
            <th>{{this.processo}}</th>
            <th>
                <a href="/contracts/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/contracts/delete/{{this._id}}" onclick="return confirm('Deseja realmente deletar esse contrato?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>